/* BuyerMain Component */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

.container {
  margin: 2% auto;
  padding: 20px;
  max-width: 90%;
  background-color: #f0f0f0;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  margin-bottom: 20px;
  width: 300px;
}

button {
  padding: 10px 20px;
  background-color: #4b9cd3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

button:hover {
  background-color: #3a85b2;
}

.house-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  list-style-type: none;
  padding: 0;
}

.house-item {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  flex: 0 1 calc(33.333% - 20px);
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
  max-width: 300px;
  color: black;
}

.house-item h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.house-item p {
  font-size: 16px;
  margin-bottom: 10px;
}

.house-item img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.house-item button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 3px;
  width: 100%;
}

.house-item button:hover {
  background-color: #4a918e;
}

h3 {
  color: #333;
}

p {
  color: #666;
}

.seller-details {
  margin-top: 20px;
}
